#container-items-total{
    margin-bottom: 0;
}
table thead tr{
    background-color: rgb(159, 216, 213);
    border: 1px whitesmoke solid;  
}

tbody {
    background-color: rgb(255, 255, 255);
    border: px whitesmoke solid;
}

td{
    border-bottom: 1px rgb(159, 216, 213) dotted;
}


.panel-heading{
    text-align: right;
    color: black;
}
.panel-heading #alltotal{
    color: red;
    font-weight: bolder;
}

#container-products-details{
}

#container-products-details table{
    font-size: small;
    color: black;
    width: 70%;
}

#container-products-details input[type="number"]{
    width: 60px;
    background: rgb(205, 236, 235);
}

#container-products-details label{
    color: grey;
    font-size: small;
}

#container-products-details button{
    display: block;
    margin-left: auto;
}
#container-products-details form option{
    font-size: small;
}
#container-products-details form .form-control{
    background: rgb(205, 236, 235);
    font-size: small;
}

