body{
background-color: whitesmoke;
color: white;
}

#container-logo-nav{    
    background-color: rgb(255, 255, 137);
    padding:2px 0px 2px 50px;
}

#container-logo-nav img{
    /*company-logo*/  
    width: 80px;
    height:80px;
}
#container-advertise{
} 

#container-products{   
}

#container-products .col-md-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#container-products h2{
    color: green;
    text-align: center;
    padding: 20px;
}

#container-products .card-img-top{   /*img-products*/
    padding: 15px;
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
}

#container-products .card-img-top:hover{
    /*img-products*/
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#container-products p{
    color: black;
    text-align: center;
}

#container-products .card-body{
    background-color: rgb(192, 192, 221);
}

#container-footer{
    background-color: rgb(255, 255, 137);
}

#container-footer p{
    color: green;
    text-align: center;
}