.cutoff-text {
    --max-lines: 5;
    --line-height: 1.4;

    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);

    position: relative;
    overflow: hidden;
}

.cutoff-text::before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, white);
}

.card-styles {
    max-width: 300px;
    width: 100%;
}

.img-height {
    height: 200px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
