#items-list{
    border-right: 1px rgb(221, 221, 221) solid;
    margin-top: 40px;
}

.heading{
    color:rgb(73, 8, 8);
    text-align: center;
    font-weight: bolder;
    font-size: larger;


}
.thumbnail img {
    width: 95%;
    height: 95%;
    border-radius: 3%;

}
.paraBtn{
    text-align: right;
    color: white;
}

#container-href{
    color: black;
}

#container-products-details{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
}

#container-products-details h6, h4{
    font-weight: bold;
    color: rgb(73, 8, 8);
}

#container-products-details h3{
    font-weight: bolder;
    color: orange;
}

#container-products-details img{
    width: 100%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

#container-products-details section{
    font-size: small;
    color: gray;
}
#container-products-details span{
    font-size: small;
    color: black;
}

#container-products-details p{
    font-size: small;
    color: rgb(48, 10, 10);
}

#container-products-details ul li{
    font-size: small;
    color: rgb(48, 10, 10);
}

#container-testi-button{
    margin-top: 5px;
}

#container-testi-button button{
    display: block;
    margin-left: auto;
}

#container-products-details #slide-product-details{
    border: 1px rgb(206, 206, 206) solid;
}
